.container{
    background: rgb(32, 31, 31);
    border-radius: 20px;
    width: 70%;
    min-width: 250px;
    max-width: 300px;
    margin: 100px auto;
    text-align: center;
    border-radius: 20px;
    padding: 1.2rem 1.2rem;
}

.principal{
    padding: 4rem 1.2rem;
}

.principal__titulo{
    font-size: 2em;
    font-weight: 700;
    color: var(--branco);
    margin-bottom: 1rem;
}

.principal__vagas{
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
    border: none;
    margin-top: 1.2rem;
}

.principal__erro{
    display: none;
    margin-top: 0.3rem;
    color: red;
}

.principal__inserir{
    font-family: var(--fonte);
    font-weight: 600;
    border-radius: 5px; 
    border: none;
    padding: 12px 25px;
    margin: 42px auto 0 auto;
}

.principal__inserir:active{
    cursor: pointer;
    background-color: var(--cinza);
    color: #FFFFFF;
}


@media screen and (min-width: 1000px){
    .principal{
        max-width: 600px;
        text-align: center;
        background: rgb(32, 31, 31);
        border-radius: 20px;
        padding: 50px;
    }
    .principal__titulo{
        color: var(--branco);
        font-size: 4em;
        padding: 20px 0 20px;
        font-weight: bold; 
    }
    .principal__vagas{
        width: 70%;
        font-size: 1.5rem;
    }
    .principal__inserir{
        font-size: 1.5rem;
        width: 27%;
    }
    .principal__inserir:hover{
        cursor: pointer;
        background-color: var(--cinza);
        color: #FFFFFF;
    }
    .principal__erro{
        font-size: 1.5rem;
    }
}