@import './principal.css';
@import './secundaria.css';

:root{  
    --fonte: 'Crimson Text', serif;
    --branco: #FFFFFF;
    --cinza: gray;
}

body{
    width: 100%;
    font-size: 16px;
    background: black;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

.container{
    background: rgb(32, 31, 31);
    width: 70%;
    min-width: 250px;
    margin: 150px auto;
    text-align: center;
    padding: 50px 15px;
    border-radius: 20px;
}