@import './principal.css';
@import './secundaria.css';

:root{  
    --fonte: 'Crimson Text', serif;
    --branco: #FFFFFF;
    --cinza: gray;
}

body{
    font-size: 16px;
    background: black;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}